body,
html {
  height: 100%;
}

#Angela {
  background-color: rgb(18, 112, 199);
  color: rgb(243, 239, 232);
  text-align: center;
}

#two {
  display: block;
  margin: auto;
  width: 60%;
}

#image {
  column-count: 2;
}

img.resize {
  width: 70%;
  height: 70%;
}

.history {
  background-color: tomato;
  color: whitesmoke;
  font-weight: bold;
  border-style: ridge;
}

.title {
  color: tomato;
  font-style: italic;
}
